@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    background-color: black;
    color:white;
    text-shadow: 0px 0px .5px black;
    font-size: 1rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Righteous', cursive;
}

ul {
    list-style-type: none;
}